<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <title>Raptor Electronic | productos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/modules/header.css">
        <link rel="stylesheet" href="../css/products.css">
        <link rel="stylesheet" href="../css/modules/footer.css">
        <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="../css/base.css">
    </head>
    
    <body>
    
        <!-----------NAVBAR------------>
        <header class="fixed-top">
            <nav class="navbar navbar-expand-lg navbar-dark nav-basis-settings">
                <a class="navbar-brand" href="products.html">
                    <img src="../images/raptor-logo.png" class="logo" alt="raptor electronic logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="products.html">Productos <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="services.html">Servicios</a>
                        <a class="nav-item nav-link" href="#">Estado de Servicio</a>
                        <a class="nav-item nav-link" href="#">Nosotros</a>
                        <a class="nav-item nav-link" href="#">Contacto</a>
                    </div>
                </div>
            </nav>
        </header>
    
        <div class="products-container">
            <!-----------SEARCH------------>
            <div class="search-container">
                <input class="search-field text-white" placeholder="Buscar">
                <img src="../images/search-tool.svg" class="search-icon" alt="">
            </div>
    
            <h1 class="display-4 main-title --main-title">Productos</h1>
            
            <!-----------NAV PRODUCTS------------>
            <div class="container m-auto">
                    <div class="m-auto products-nav-c">
                        <a class="nav-item nav-link products-nav-link " href="">Accesorios</a>
                        <a class="nav-item nav-link products-nav-link active active-link" href="">Dispositivos</a>
                        <a class="nav-item nav-link products-nav-link " href="">Refacciones</a>
                    </div>
            </div>
            
            <!-----------PRODUCT CARDS------------>
            <div class="container m-auto" style="padding: 0 2.5% 0 3.5%">
                <div class="card-columns " style="padding: 0">
                    <div class="container ">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" height="285" src="../images/products/xiaomi-redmi.jpg" alt="Card image cap">
                            <div class="card-body card-body-product">
                                <h5 class="card-title">Xiaomi Redmin</h5>
                                <p class="card-text">BsS 125.000.00</p>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" height="285" src="../images/products/huawei-yt-lite.jpg" alt="Card image cap">
                            <div class="card-body  card-body-product">
                                <h5 class="card-title">Huawei YT Lite</h5>
                                <p class="card-text">BsS 125.000.00</p>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" height="285" src="../images/products/xr5.jpg" alt="Card image cap">
                            <div class="card-body card-body-product">
                                <h5 class="card-title">Xiaomi XR5</h5>
                                <p class="card-text">BsS 125.000.00</p>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" height="285" src="../images/products/alcatel-a30.jpg" alt="Card image cap">
                            <div class="card-body card-body-product">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">BsS 125.000.00</p>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" height="285" src="../images/products/leeco-le-s3.jpg" alt="Card image cap">
                            <div class="card-body card-body-product">
                                <h5 class="card-title">Leeco Le S3</h5>
                                <p class="card-text">BsS 125.000.00</p>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" height="285" src="../images/products/huawei-mate-9.jpg" alt="Card image cap">
                            <div class="card-body card-body-product">
                                <h5 class="card-title">Huawei Mate 9</h5>
                                <p class="card-text">BsS 125.000.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-----------PRODUCTS PAGINATION------------>
            <nav aria-label="..." class="d-flex justify-content-center products-pagination">
                <ul class="pagination pagination-sm">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </nav>
            
            <!-----------GUARANTEE MESSAGE------------>
            <div class="jumbotron jumbotron-fluid">
                <div class="container text-center">
                    <p class="lead">
                        Todos nuestros productos tienen grantía de 7
                        dias hábiles a partir de la fecha de compra.
                    </p>
                </div>
            </div>
            
        </div>
        
        <!-----------FOOTER------------>
        <footer class="">
            <div class="footer-basis-settings d-flex justify-content-around ">
                <div class=" align-self-center">
                    <p class="contact-data">Teléfonos:</p>
                    <p class="contact-data">0412-4370516</p>
                    <br>
                    <p class="contact-data">Correo:</p>
                    <p class="contact-data">raptorelectronic@gmail.com</p>
                </div>
                
                <div class="align-self-center">
                    <p class="contact-data">Siguienos en:</p>
                    <a class="d-flex justify-content-center" href="https://www.instagram.com/raptorelectronic/" target="_blank">
                        <img src="../images/instagram.svg" class="logo" alt="raptor electronic logo">
                    </a>
                </div>
            </div>
            
            <div class="copy-right-container">
                <p class="copy-text">
                    &copy; 2018 Raptor Electronic | Todos los derchos reservados.
                </p>
            </div>
        </footer>
      
        
        
        <script src="../css/bootstrap/js/jquery-3.3.1.slim.min.js"></script>
        <script src="../css/bootstrap/js/bootstrap.js"></script>
        
    </body>
</html>