<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Raptor Electronic | servicios</title>
        <link rel="stylesheet" href="../css/components/header.css">
        <link rel="stylesheet" href="../css/services.css">
        <link rel="stylesheet" href="../css/components/footer.css">
        <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="../css/base.css">
    </head>
    <body>
    
        <!-----------NAVBAR------------>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="" href="../../index.html">
                    <img src="../images/raptor-logo.png" class="logo" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="products.html">Productos <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-item nav-link" href="services.html">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="status-of-services.html">Estado de Servicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="us.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="contact.html">Contacto</a>
                        </li>
              
                    </ul>
                </div>
            </div>
        </nav>
    
    
        <div class="services-container container m-auto">
    
            <div class=" div-title">
                <h1 class="title">SERVICIOS</h1>
            </div>
            
            <div class="description-section">
                <img src="../images/services/reparacion.svg" class="tec-service-img" alt="raptor electronic logo">
                <div class="d-flex flex-column text-center tec-service-description">
                    <h2>Servicio técnico en reparación</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto beatae
                       deleniti doloribus magnam nesciunt odio quam quidem veritatis vitae! Cumque
                       dignissimos dolores fugiat ipsam quod quos sequi soluta voluptatum!
                    </p>
                </div>
            </div>
        </div>
    
        <!-----------BASIS SERVICES------------>
    
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class=" carousel-inner" style="background-color: var(--blue-dark)">
    
                <div class="carousel-item active">
                    <div class="d-flex justify-content-around ml-xl-5 mr-xl-5">
                        <div class="card shadow-sm m-5" style="width: 12rem; height: 20em">
                            <div class="svg-service-icon">
                                <img class="card-img-top img-fluid "  src="../images/services/revision.svg" alt="Card image cap">
                            </div>
                            <div class="card-body card-body-product text-center">
                                <h5 class="card-title">Revisión</h5>
                                <p class="card-text">BsS 125.000.00</p>
                            </div>
                        </div>
                        <div class="card shadow-sm m-5" style="width: 12rem; height: 20em">
                            <div class="svg-service-icon">
                                <img class="card-img-top img-fluid "  src="../images/services/revision.svg" alt="Card image cap">
                            </div>
                            <div class="card-body card-body-product text-center">
                                <h5 class="card-title">Revisión</h5>
                                <p class="card-text">BsS 125.000.00</p>
                            </div>
                        </div>
                        <div class="card shadow-sm m-5" style="width: 12rem; height: 20em">
                            <div class="svg-service-icon">
                                <img class="card-img-top img-fluid "  src="../images/services/revision.svg" alt="Card image cap">
                            </div>
                            <div class="card-body card-body-product text-center">
                                <h5 class="card-title">Revisión</h5>
                                <p class="card-text">BsS 125.000.00</p>
                            </div>
                        </div>
                        <div class="card shadow-sm m-5" style="width: 12rem; height: 20em">
                            <div class="svg-service-icon">
                                <img class="card-img-top img-fluid "  src="../images/services/revision.svg" alt="Card image cap">
                            </div>
                            <div class="card-body card-body-product text-center">
                                <h5 class="card-title">Revisión</h5>
                                <p class="card-text">BsS 125.000.00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-around ml-xl-5 mr-xl-5">
                        <div class="card shadow-sm m-5" style="width: 12rem; height: 20em">
                            <div class="svg-service-icon">
                                <img class="card-img-top img-fluid "  src="../images/services/revision.svg" alt="Card image cap">
                            </div>
                            <div class="card-body card-body-product text-center">
                                <h5 class="card-title">Revisión</h5>
                                <p class="card-text">BsS 125.000.00</p>
                            </div>
                        </div>
                        <div class="card shadow-sm m-5" style="width: 12rem; height: 20em">
                            <div class="svg-service-icon">
                                <img class="card-img-top img-fluid "  src="../images/services/revision.svg" alt="Card image cap">
                            </div>
                            <div class="card-body card-body-product text-center">
                                <h5 class="card-title">Revisión</h5>
                                <p class="card-text">BsS 125.000.00</p>
                            </div>
                        </div>
                        <div class="card shadow-sm m-5" style="width: 12rem; height: 20em">
                            <div class="svg-service-icon">
                                <img class="card-img-top img-fluid "  src="../images/services/revision.svg" alt="Card image cap">
                            </div>
                            <div class="card-body card-body-product text-center">
                                <h5 class="card-title">Revisión</h5>
                                <p class="card-text">BsS 125.000.00</p>
                            </div>
                        </div>
                        <div class="card shadow-sm m-5" style="width: 12rem; height: 20em">
                            <div class="svg-service-icon">
                                <img class="card-img-top img-fluid "  src="../images/services/revision.svg" alt="Card image cap">
                            </div>
                            <div class="card-body card-body-product text-center">
                                <h5 class="card-title">Revisión</h5>
                                <p class="card-text">BsS 125.000.00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="d-flex justify-content-around ml-xl-5 mr-xl-5">
                        <div class="card shadow-sm m-5" style="width: 12rem; height: 20em">
                            <div class="svg-service-icon">
                                <img class="card-img-top img-fluid "  src="../images/services/revision.svg" alt="Card image cap">
                            </div>
                            <div class="card-body card-body-product text-center">
                                <h5 class="card-title">Revisión</h5>
                                <p class="card-text">BsS 125.000.00</p>
                            </div>
                        </div>
                        <div class="card shadow-sm m-5" style="width: 12rem; height: 20em">
                            <div class="svg-service-icon">
                                <img class="card-img-top img-fluid "  src="../images/services/revision.svg" alt="Card image cap">
                            </div>
                            <div class="card-body card-body-product text-center">
                                <h5 class="card-title">Revisión</h5>
                                <p class="card-text">BsS 125.000.00</p>
                            </div>
                        </div>
                        <div class="card shadow-sm m-5" style="width: 12rem; height: 20em">
                            <div class="svg-service-icon">
                                <img class="card-img-top img-fluid "  src="../images/services/revision.svg" alt="Card image cap">
                            </div>
                            <div class="card-body card-body-product text-center">
                                <h5 class="card-title">Revisión</h5>
                                <p class="card-text">BsS 125.000.00</p>
                            </div>
                        </div>
                        <div class="card shadow-sm m-5" style="width: 12rem; height: 20em">
                            <div class="svg-service-icon">
                                <img class="card-img-top img-fluid "  src="../images/services/revision.svg" alt="Card image cap">
                            </div>
                            <div class="card-body card-body-product text-center">
                                <h5 class="card-title">Revisión</h5>
                                <p class="card-text">BsS 125.000.00</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        
       
    
        <!-----------FOOTER------------>
        <footer class="">
            <div class="footer-basis-settings d-flex justify-content-around ">
                <div class=" align-self-center">
                    <p class="contact-data">Teléfonos:</p>
                    <p class="contact-data">0412-4370516</p>
                    <br>
                    <p class="contact-data">Correo:</p>
                    <p class="contact-data">raptorelectronic@gmail.com</p>
                </div>
            
                <div class="align-self-center">
                    <p class="contact-data">Siguenos en:</p>
                    <a class="d-flex justify-content-center" href="https://www.instagram.com/raptorelectronic/" target="_blank">
                        <img src="../images/instagram.svg" class="social-icon" alt="raptor electronic logo">
                    </a>
                </div>
            </div>
        
            <div class="copy-right-container">
                <p class="copy-text">
                    &copy; 2018 Raptor Electronic | Todos los derchos reservados.
                </p>
            </div>
        </footer>
    
    
        <script src="../css/bootstrap/js/jquery-3.3.1.slim.min.js"></script>
        <script src="../css/bootstrap/js/bootstrap.js"></script>
    </body>
</html>