<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Raptor Electronic - Estado de Servicios</title>
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="../css/components/tab-tittle.css">
        <link rel="stylesheet" href="../css/components/services.css">
    </head>
    <body>
    
        <main class="tab-tittle">
            <h1 class="tittle">ESTADO DE SERVICIOS</h1>
        </main>
    
        <article class="information container">
            <h3>Consulta el estado de tu servicio aquí.</h3>
            <p>Al dejar su dispositivo con nosotros le proporcionamos de un codigo unico, el cual
                puede introducir a continuacion y asi conocer el estado actual de su o sus
                equipos ya sea "En proceso" o "Finalizado" junto con su fecha. <br>De esta forma podra
                conocer si puede retirarlo o es necesario esperar un poco mas.
            </p>
        </article>
    
        <img src="../images/img-prueba.jpg" alt="" class="image">
        
        <article class="status container">
            <h3>Ingresae aquí su código</h3>
            <input type="search" class=" form-control search-status" placeholder= "Ej: 35689">
            <button class="button-search"></button>
        </article>
    
        <h3 class="section-tittle container">Servicios adicionales</h3>
        <ul class="services-additionals container">
            <li class="service-addtional">
                <img src="../images/img-prueba.jpg" alt="" class="image-circular">
                <div class="content">
                    <h4>Pagos</h4>
                    <h5>Tarjetas de debito y transferencias bancarias.</h5>
                </div>
            </li>
            <li class="service-addtional">
                <img src="../images/img-prueba.jpg" alt="" class="image-circular">
                <div class="content">
                    <h4>Calidad</h4>
                    <h5>Garantizamos servicios de la mejor calidad.</h5>
                </div>
            </li>
            <li class="service-addtional">
                <img src="../images/img-prueba.jpg" alt="" class="image-circular">
                <div class="content">
                    <h4>Post-Servicio</h4>
                    <h5>En caso de dudas o inconvenientes, contactanos.</h5>
                </div>
            </li>
            <li class="service-addtional">
                <img src="../images/img-prueba.jpg" alt="" class="image-circular">
                <div class="content">
                    <h4>Variedad</h4>
                    <h5>Todo tipo de articulos, tenemos lo que necesitas</h5>
                </div>
            </li>
            <li class="service-addtional">
                <img src="../images/img-prueba.jpg" alt="" class="image-circular">
                <div class="content">
                    <h4>Tiempo</h4>
                    <h5>Trabajamos lo mas rapido posible para su comodidad.</h5>
                </div>
            </li>
        </ul>

    </body>
</html>