<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Raptor Electronic | Estado de Servicios</title>
        <link rel="stylesheet" href="../css/components/header.css">
        <link rel="stylesheet" href="../css/status-of-services.css">
        <link rel="stylesheet" href="../css/components/footer.css">
        <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="../css/base.css">
    </head>
    <body>
    
        <!-----------NAVBAR------------>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="" href="../../index.html">
                    <img src="../images/raptor-logo.png" class="logo" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="products.html">Productos <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="services.html">Servicios</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-item nav-link" href="status-of-services.html">Estado de Servicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="us.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="contact.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    
        
        <div class="status-of-services__container container">
            <!-----------TITLE------------>
            <main class="div-title">
                <h1 class="title">ESTADO DE SERVICIOS</h1>
            </main>
            
            <!-----------STATUS OF SERVICES------------>
            <article class="status-information">
                <h3 class="text-center ">Consulta el estado de tu servicio aquí.</h3>
                <p class="text-center ">Al dejar su dispositivo con nosotros le proporcionamos de un codigo unico, el cual
                    puede introducir a continuacion y asi conocer el estado actual de su o sus
                    equipos ya sea "En proceso" o "Finalizado" junto con su fecha. <br>De esta forma podra
                    conocer si puede retirarlo o es necesario esperar un poco mas.</p>
            </article>
    
            <!-----------SEARCH FOR CODE------------>
            <article class="search-code__content d-flex justify-content-between container">
                <img src="../images/negocio-raptor2.PNG" alt="" class="search-code_image column-2">
                <div class="search-code column-2">
                    <h3 class="search-code__tittle">Ingrese aquí su código</h3>
                    <input type="search" class="form-control search-code__input" placeholder= "Ej: 35689" style="width: 20rem">
                    <button type="submit" data-toggle="modal" data-target="#modalServiceCode" class="search-code__button btn  badge-pill">Buscar</button>
    
                    <!-- Modal -->
                    <div class="modal fade" id="modalServiceCode" tabindex="-1" role="dialog" aria-labelledby="modalServiceCode" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalServiceCodeTitle">Estado de Servicio</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    El servicio de su equipo se encuentra en proceso <br>Esta previsto para 15-04-2019
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
    
            <!-----------SERVICES ADDITIONALS------------>
            <h3 class="section-tittle text-white">Servicios adicionales</h3>
            <ul class="services-additionals">
                <li class="service-addtional">
                    <img src="../images/services-additionals/purse.svg" alt="" class="image-circular">
                    <div class="content">
                        <h5>Pagos</h5>
                        <h6>Tarjetas de debito y transferencias bancarias.</h6>
                    </div>
                </li>
                <li class="service-addtional">
                    <img src="../images/services-additionals/bookmarks.svg" alt="" class="image-circular">
                    <div>
                        <h5>Calidad</h5>
                        <h6>Garantizamos servicios de la mejor calidad.</h6>
                    </div>
                </li>
                <li class="service-addtional">
                    <img src="../images/services-additionals/caution.svg" alt="" class="image-circular">
                    <div class="content">
                        <h5>Post-Servicio</h5>
                        <h6>En caso de dudas o inconvenientes, contactanos.</h6>
                    </div>
                </li>
                <li class="service-addtional">
                    <img src="../images/services-additionals/shop.svg" alt="" class="image-circular">
                    <div class="content">
                        <h5>Variedad</h5>
                        <h6>Todo tipo de articulos, tenemos lo que necesitas</h6>
                    </div>
                </li>
                <li class="service-addtional">
                    <img src="../images/services-additionals/clock.svg" alt="" class="image-circular">
                    <div class="content">
                        <h5>Tiempo</h5>
                        <h6>Trabajamos lo mas rapido posible para su comodidad.</h6>
                    </div>
                </li>
            </ul>
        </div>
    
        <!-----------FOOTER------------>
        <footer class="">
            <div class="footer-basis-settings d-flex justify-content-around ">
                <div class=" align-self-center">
                    <p class="contact-data">Teléfonos:</p>
                    <p class="contact-data">0412-4370516</p>
                    <br>
                    <p class="contact-data">Correo:</p>
                    <p class="contact-data">raptorelectronic@gmail.com</p>
                </div>
            
                <div class="align-self-center">
                    <p class="contact-data">Siguenos en:</p>
                    <a class="d-flex justify-content-center" href="https://www.instagram.com/raptorelectronic/" target="_blank">
                        <img src="../images/instagram.svg" class="social-icon" alt="raptor electronic logo">
                    </a>
                </div>
            </div>
        
            <div class="copy-right-container">
                <p class="copy-text">
                    &copy; 2018 Raptor Electronic | Todos los derchos reservados.
                </p>
            </div>
        </footer>
    
    
    
        <script src="../css/bootstrap/js/jquery-3.3.1.slim.min.js"></script>
        <script src="../css/bootstrap/js/bootstrap.js"></script>

    </body>
</html>