<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Raptor Electronic | Estado de Servicios</title>
        <link rel="stylesheet" href="../css/components/status-of-services.css">
        <link rel="stylesheet" href="../css/components/tab-tittle.css">
        <link rel="stylesheet" href="../css/components/header.css">
        <link rel="stylesheet" href="../css/components/footer.css">
        <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="../css/base.css">
    </head>
    <body>
    
        <!-----------NAVBAR------------>
        <header class="fixed-top">
            <nav class="navbar navbar-expand-lg navbar-dark nav-basis-settings">
                <a class="navbar-brand" href="#">
                    <img src="../images/raptor-logo.png" class="logo" alt="raptor electronic logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="#">Productos <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="#">Servicios</a>
                        <a class="nav-item nav-link active" href="#">Estado de Servicio</a>
                        <a class="nav-item nav-link" href="#">Nosotros</a>
                        <a class="nav-item nav-link" href="#">Contacto</a>
                    </div>
                </div>
            </nav>
        </header>
    
        
        <div class="status-of-services__container container">
            <!-----------TITTLE------------>
            <main class="tab-tittle">
                <h1 class="tittle">ESTADO DE SERVICIOS</h1>
            </main>
            
            <!-----------STATUS OF SERVICES------------>
            <article class="status-information">
                <h3 class="text-center text-white">Consulta el estado de tu servicio aquí.</h3>
                <p class="text-center text-white">Al dejar su dispositivo con nosotros le proporcionamos de un codigo unico, el cual
                    puede introducir a continuacion y asi conocer el estado actual de su o sus
                    equipos ya sea "En proceso" o "Finalizado" junto con su fecha. <br>De esta forma podra
                    conocer si puede retirarlo o es necesario esperar un poco mas.</p>
            </article>
    
            <!-----------SEARCH FOR CODE------------>
            <article class="search-code__content d-flex justify-content-between container">
                <img src="../images/negocio-raptor2.PNG" alt="" class="search-code_image column-2">
                <div class="search-code column-2">
                    <h3 class="search-code__tittle">Ingrese aquí su código</h3>
                    <input type="search" class="form-control search-code__input" placeholder= "Ej: 35689" style="width: 20rem">
                    <button type="submit" class="search-code__button btn btn-success badge-pill">Buscar</button>
                </div>
            </article>
    
            <!-----------SERVICES ADDITIONALS------------>
            <h3 class="section-tittle text-white">Servicios adicionales</h3>
            <ul class="services-additionals">
                <li class="service-addtional">
                    <img src="../images/services-additionals/purse.svg" alt="" class="image-circular">
                    <div class="content">
                        <h5>Pagos</h5>
                        <h6>Tarjetas de debito y transferencias bancarias.</h6>
                    </div>
                </li>
                <li class="service-addtional">
                    <img src="../images/services-additionals/bookmarks.svg" alt="" class="image-circular">
                    <div>
                        <h5>Calidad</h5>
                        <h6>Garantizamos servicios de la mejor calidad.</h6>
                    </div>
                </li>
                <li class="service-addtional">
                    <img src="../images/services-additionals/caution.svg" alt="" class="image-circular">
                    <div class="content">
                        <h5>Post-Servicio</h5>
                        <h6>En caso de dudas o inconvenientes, contactanos.</h6>
                    </div>
                </li>
                <li class="service-addtional">
                    <img src="../images/services-additionals/shop.svg" alt="" class="image-circular">
                    <div class="content">
                        <h5>Variedad</h5>
                        <h6>Todo tipo de articulos, tenemos lo que necesitas</h6>
                    </div>
                </li>
                <li class="service-addtional">
                    <img src="../images/services-additionals/clock.svg" alt="" class="image-circular">
                    <div class="content">
                        <h5>Tiempo</h5>
                        <h6>Trabajamos lo mas rapido posible para su comodidad.</h6>
                    </div>
                </li>
            </ul>
        </div>
    
        <!-----------FOOTER------------>
        <footer class="">
            <div class="footer-basis-settings d-flex justify-content-around ">
                <div class=" align-self-center">
                    <p class="contact-data">Teléfonos:</p>
                    <p class="contact-data">0412-4370516</p>
                    <br>
                    <p class="contact-data">Correo:</p>
                    <p class="contact-data">raptorelectronic@gmail.com</p>
                </div>
            
                <div class="align-self-center">
                    <p class="contact-data">Siguienos en:</p>
                    <a href="#">
                        <img src="../images/raptor-logo.png" class="logo" alt="raptor electronic logo">
                    </a>
                </div>
            </div>
        
            <div class="copy-right-container">
                <p class="copy-text">
                    &copy; 2018 Raptor Electronic | Todos los derchos reservados.
                </p>
            </div>
        </footer>
    
    
    
        <script src="../css/bootstrap/js/jquery-3.3.1.slim.min.js"></script>
        <script src="../css/bootstrap/js/bootstrap.js"></script>

    </body>
</html>