<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width+device-width, initial-scale= 1.0, maximun-scale= 3.0, minimum-scale= 0.86">
        <title>Raptor Electronic - Nosotros</title>
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="../css/components/values.css">
        <link rel="stylesheet" href="../css/components/banner.css">
        <link rel="stylesheet" href="../css/layout/mission-vision.css">
        <link rel="stylesheet" href="../css/components/tab-tittle.css">
        <link rel="stylesheet" href="../css/loading-bar.css">
        <link rel="stylesheet" href="../css/layout/columns-divide.css">
    </head>
    <body>
        <main class="tab-tittle">
            <h1 class="tittle">NOSOTROS</h1>
        </main>
        
        <div class="mission-vision__container container">
            <article class="mission-vision column-2">
                <h3 class="mission-vision__title">Mision</h3>
                <p>Nuestra mision primordial es que los clientes se retiren con una sonrisa; luego, entregar
                    sus equipos en perfectas condiciones siempre dentro de las posibilidades, garantizando
                    el mejor servicio y la mejor atención al público venezolano. Todo ello con un cuerpo de
                    trabajo altamente capacitado para la tarea, en un ambiente cálido y de interacción
                    humana aplicando todos los valores para la convivencia.</p>
                <img src="../images/img-prueba.jpg" alt="">
            </article>
            <article class="mission-vision column-2">
                <h3 class="mission-vision__title">Vision</h3>
                <p>La visión que temos en Raptor Electronc C.A consiste en ser la empresa #1 en servicios de
                    reparación de dispositivos móviles en Venezuela, logrando la expansión no solo a nivel nacional,
                    sino a nivel del continente americano, tanto latinoamericano como norteamericano, siempre
                    recordando los inicios y como pilar principal buscar la satisfacción por parte de nuestros clientes.</p>
                <img src="../images/img-prueba.jpg" alt="">
            </article>
        </div>
        
        <aside class="banner">
            <span class="banner-tittle" >#RaptorElectronic</span>
            <a href="contact.html"><button class="banner__button btn btn-success" type="button">Ubicanos</button></a>
        </aside>
    
        <!--<section class="values container">
            <h3>Nuestros Valores</h3>
            <div class="value">
                <img src="../images/img-prueba.jpg" alt="" class="value__img">
                <h5 class="value__title">Solidaridad</h5>
                <div class="value__bar">
                    <div class="bar" role="progressbar"></div>
                </div>
                <span class="value__percentage">81%</span>
            </div>
            <div class="value">
                <img src="../images/img-prueba.jpg" alt="" class="value__img">
                <h5 class="value__title">Respeto</h5>
                <div class="value__bar progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 85%"
                         aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="value__percentage">85%</span>
            </div>
            <div class="value">
                <img src="../images/img-prueba.jpg" alt="" class="value__img">
                <h5 class="value__title">Justicia</h5>
                <div class="value__bar progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width:78%"
                         aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="value__percentage">78%</span>
            </div>
            <div class="value">
                <img src="../images/img-prueba.jpg" alt="" class="value__img">
                <h5 class="value__title">Responsabilidad</h5>
                <div class="value__bar progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 92%"
                         aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="value__percentage">92%</span>
            </div>
            
            <img src="../images/img-prueba.jpg" alt="" class="values-img">
        </section>-->
    
        <ul class="values container">
            <h3>Nuestros Valores</h3>
            <li class="value">
                <img src="../images/img-prueba.jpg" alt="" class="value__img">
                <h5 class="value__tittle">Solidaridad</h5>
                <span class="value__percentage">81%</span>
                <div class="value__bar">
                    <div class="value__progress-bar"></div>
                </div>
            </li>
            <li class="value">
                <img src="../images/img-prueba.jpg" alt="" class="value__img">
                <h5 class="value__tittle">Respeto</h5>
                <span class="value__percentage">85%</span>
                <div class="value__bar">
                    <div class="value__progress-bar"></div>
                </div>
            </li>
            <li class="value">
                <img src="../images/img-prueba.jpg" alt="" class="value__img">
                <h5 class="value__tittle">Justicia</h5>
                <span class="value__percentage">78%</span>
                <div class="value__bar">
                    <div class="value__progress-bar"></div>
                </div>
            </li>
            <li class="value">
                <img src="../images/img-prueba.jpg" alt="" class="value__img">
                <h5 class="value__tittle">Responsabilidad</h5>
                <span class="value__percentage">92%</span>
                <div class="value__bar">
                    <div class="value__progress-bar"></div>
                </div>
            </li>
        </ul>
        
    
        <script src="../js/bootstrap.min.js"></script>
        <!--<script src="../js/loading-bar.js"></script>-->

    </body>
</html>