<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width+device-width, initial-scale= 1.0, maximun-scale= 3.0, minimum-scale= 0.86">
        <title>Raptor Electronic | Nosotros</title>
        <link rel="stylesheet" href="../css/us.css">
        <link rel="stylesheet" href="../css/components/tab-tittle.css">
        <link rel="stylesheet" href="../css/components/banner.css">
        <link rel="stylesheet" href="../css/components/header.css">
        <link rel="stylesheet" href="../css/components/footer.css">
        <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="../css/base.css">
    </head>
    <body>
    
        <!-----------NAVBAR------------>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="" href="../../index.html">
                    <img src="../images/raptor-logo.png" class="logo" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="products.html">Productos <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="services.html">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="status-of-services.html">Estado de Servicio</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-item nav-link" href="us.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="contact.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <div class="container">
            <!-----------TITTLE------------>
            <main class="div-title">
                <h1 class="title">NOSOTROS</h1>
            </main>
        
            <!-----------MISSION AND VISION------------>
            <div class="mission-vision__container">
                <article class="mission-vision column-2">
                    <h3 class="mission-vision__title">Mision</h3>
                    <p class="">Nuestra mision primordial es que los clientes se retiren con una sonrisa; luego, entregar
                        sus equipos en perfectas condiciones siempre dentro de las posibilidades, garantizando
                        el mejor servicio y la mejor atención al público venezolano. Todo ello con un cuerpo de
                        trabajo altamente capacitado para la tarea, en un ambiente cálido y de interacción
                        humana aplicando todos los valores para la convivencia.</p>
                    <img src="../images/us/two.PNG" alt="">
                </article>
                <article class="mission-vision column-2">
                    <h3 class="mission-vision__title ">Vision</h3>
                    <p class="">La visión que tenemos en Raptor Electronc C.A consiste en ser la empresa #1 en servicios de
                        reparación de dispositivos móviles en Venezuela; logrando la expansión no solo a nivel nacional,
                        sino a nivel del continente americano, tanto latinoamericano como norteamericano, siempre
                        recordando los inicios y nuestro pilar principal que es buscar la satisfacción por parte de nuestros clientes.</p>
                    <img src="../images/us/one.PNG" alt="">
                </article>
            </div>
        </div>
    
        <!-----------BANNER------------>
        <aside class="banner">
            <span class="banner-tittle" >#RaptorElectronic</span>
            <a href="contact.html"><button class="banner__button btn badge-pill text-white" type="button">Ubicanos</button></a>
        </aside>
    
        <!--<section class="values container">
            <h3>Nuestros Valores</h3>
            <div class="value">
                <img src="../images/img-prueba.jpg" alt="" class="value__img">
                <h5 class="value__title">Solidaridad</h5>
                <div class="value__bar">
                    <div class="bar" role="progressbar"></div>
                </div>
                <span class="value__percentage">81%</span>
            </div>
            <div class="value">
                <img src="../images/img-prueba.jpg" alt="" class="value__img">
                <h5 class="value__title">Respeto</h5>
                <div class="value__bar progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 85%"
                         aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="value__percentage">85%</span>
            </div>
            <div class="value">
                <img src="../images/img-prueba.jpg" alt="" class="value__img">
                <h5 class="value__title">Justicia</h5>
                <div class="value__bar progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width:78%"
                         aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="value__percentage">78%</span>
            </div>
            <div class="value">
                <img src="../images/img-prueba.jpg" alt="" class="value__img">
                <h5 class="value__title">Responsabilidad</h5>
                <div class="value__bar progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 92%"
                         aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="value__percentage">92%</span>
            </div>
            
            <img src="../images/img-prueba.jpg" alt="" class="values-img">
        </section>-->
    
        <!-----------VALUES------------>
        <div class="">
        <h3 class="container">Nuestros Valores</h3>
        <ul class="values container">
            <li class="value d-flex">
                <img src="../images/img-prueba.jpg" alt="" class="circle-image">
                <div class="">
                    <h5 class="value__tittle">Solidaridad</h5>
                    <div class="value__bar">
                        <div class="value__progress-bar"></div>
                    </div>
                    <span class="value__percentage">81%</span>
                </div>
            </li>
            <li class="value d-flex">
                <img src="../images/img-prueba.jpg" alt="" class="circle-image">
                <div class="">
                    <h5 class="value__tittle">Respeto</h5>
                    <div class="value__bar">
                        <div class="value__progress-bar"></div>
                    </div>
                    <span class="value__percentage">85%</span>
                </div>
            </li>
            <li class="value d-flex">
                <img src="../images/img-prueba.jpg" alt="" class="circle-image">
                <div class="">
                    <h5 class="value__tittle">Justicia</h5>
                    <div class="value__bar">
                        <div class="value__progress-bar"></div>
                    </div>
                    <span class="value__percentage">78%</span>
                </div>
            </li>
            <li class="value d-flex">
                <img src="../images/img-prueba.jpg" alt="" class="circle-image">
                <div class="">
                    <h5 class="value__tittle">Responsabilidad</h5>
                    <div class="value__bar">
                        <div class="value__progress-bar"></div>
                    </div>
                    <span class="value__percentage">92%</span>
                </div>
            </li>
        </ul>
        <img src="../images/us/three.PNG" alt="" class="values-img">
        </div>
    
        <!-----------FOOTER------------>
        <footer class="">
            <div class="footer-basis-settings d-flex justify-content-around ">
                <div class=" align-self-center">
                    <p class="contact-data">Teléfonos:</p>
                    <p class="contact-data">0412-4370516</p>
                    <br>
                    <p class="contact-data">Correo:</p>
                    <p class="contact-data">raptorelectronic@gmail.com</p>
                </div>
            
                <div class="align-self-center">
                    <p class="contact-data">Siguenos en:</p>
                    <a class="d-flex justify-content-center" href="https://www.instagram.com/raptorelectronic/" target="_blank">
                        <img src="../images/instagram.svg" class="social-icon" alt="raptor electronic logo">
                    </a>
                </div>
            </div>
        
            <div class="copy-right-container">
                <p class="copy-text">
                    &copy; 2018 Raptor Electronic | Todos los derchos reservados.
                </p>
            </div>
        </footer>
        
    
        <script src="../css/bootstrap/js/jquery-3.3.1.slim.min.js"></script>
        <script src="../css/bootstrap/js/bootstrap.js"></script>

    </body>
</html>