
.circle-image {
    width: 4em;
    height: 4em;
    border-radius: 100%;
    border: 3px solid white;
    margin-right: 1em;
}

.svg-logout-div {
    /*margin-top: 10px;*/
    /*margin-left: 9px;*/
    align-self: center;
}

.svg-logout {
    height: 23px;
}

.profile-div {
    display: inline-block;
    text-align: center;
}

.admin {
    margin: 0;
    color: white;
}

.admin-name {
    color: white;

    display: block;
    margin: 0;
    font-size: 12px;
}

@media only screen and (max-width: 800px) {
    .logo{
        height: 25%;
    }
}