
.footer-basis-settings {
    height: 250px;
    font-size: 18px;

    background-color:  var(--dark-raptor);
}

.copy-right-container {
    width: 100%;
    text-align: center;

    background-color: var(--blue-dark-raptor);
}

.contact-data {
    margin: 0;
    color: white;
}

.copy-text {
    margin: 0;
    color: white;
}
