.status-of-services__container {
    height: 100%;
    margin: 0;
    padding-bottom: 150px;

    overflow: hidden;
}

/**********Services Aditionals**********/
.services-additionals{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-addtional {
    display: flex;
    border: 5px solid var(--green-dark-raptor);
    padding: 5px;
    margin: 10px;
    width: 31em;
    background-color: var(--green-light-raptor);
}


/*********Status of Services Information***********/
.status-information{

}


/***********Search for code***********/
.search-code__content{
    margin: 2em 0;
}
.search-code_image{
    margin-right: 2em;
}

.search-code{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-code__tittle{
    color: var(--green-light-raptor);
}
.search-code__input{
    margin: 1em;
}
.search-code__button{
    width: 10rem;
    margin-top: 1em;
}
