
*,
:before,
:after{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h2, h3, h4, h5, h6{
    font-weight: normal;
}

:root{
    --dark:  #252a30;
    --dark-light: #363c42;
    --blue-dark: #375688;
    --blue-light:  #119ac7;
    --green-dark:   #379068;
    --green-light:   #60ba80;
}

body {
    background-color:  var(--blue-dark);
}

                /*SET MAIN TITLES*/
.main-title {
    padding-top: 150px;

    color: white;
    text-align: center;
}
.image-circular{
    width: 4em;
    height: 4em;
    border-radius: 100%;
    margin-right: 1em;
}

.--main-title {
    padding-top: 20px;
}







.column-2{
    width: 50%;
}