
.products-container {
    height: 100%;
    margin: 0;

    overflow: hidden;
}

                            /*PRODUCTS NAV */
.products-nav-c {
    width: 500px;
    padding-top: 30px;
    padding-bottom: 40px;

    display: flex;
    justify-content: space-between;
}

.products-nav-link {
    color: var(--blue-dark);
}

.products-nav-link:hover {
    border-bottom: 3px solid var(--blue-dark);
    color: var(--blue-dark);
}

.active-link {
    border-bottom: 3px solid var(--blue-dark);
    color: var(--blue-dark);
}

.search-container {
    margin-bottom: 50px;
    margin-right: 8%;
    color: white;

    display: flex;
    justify-content: flex-end;
}

.search-field {
    margin-right: 5px;
    border: none;
    border-bottom: 1px solid var(--blue-dark);

    background-color: var(--jumbo-light);
    color: var(--blue-dark);
    outline: none;
    direction: rtl;
}

.search-field::placeholder {
    color: #406da8;
}

.search-icon {
    height: 22px;
}

                            /*PRODUCT CARDS*/
.card-body-product {
    background-color: var(--dark-light);
    color: white;
}

.products-pagination {
    margin-bottom: 40px;
}

@media screen and (max-width: 500px){
    .products-nav-c {
        width: 110px;
        margin: auto;
        text-align: center;
    }
    .products-nav-c {
        margin: auto;
        flex-direction: column;
    }
}
