<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Raptor Electronic | Administradores</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/components/header.css">
        <link rel="stylesheet" href="../css/components/form-fields.css">
        <link rel="stylesheet" href="../css/products.css">
        <link rel="stylesheet" href="../css/components/modals.css">
        <link rel="stylesheet" href="../css/components/buttons.css">
        <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="../css/base.css">
    </head>
    <body>
    
        <!-----------ADMIN NAVBAR------------>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="d-flex" href="#">
                    <img src="../images/admin-pic.jpg" class="circle-image" alt="">
                    <div class="profile-div align-self-center">
                        <p class="admin">Administrador</p>
                        <p class="admin-name">Jon Mircha</p>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="products.html">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="services.html">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="status-of-services.html">Estado de Servicio</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-item nav-link active" href="admin.html">Administradores</a>
                        </li>
                        <li class="nav-item d-flex">
                            <a class="svg-logout-div" href="../../index.html" data-toggle="tooltip" data-placement="bottom" title="Salir" >
                                <img src="../images/logout.svg" class="svg-logout ">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <div class="container div-title">
            <h1 class="title">Administradores</h1>
        </div>
    
        <div class="container">
            <!-----------ADMIN SEARCH------------>
            <div class="container">
                <div class="search-container">
                    <button class="add-button" data-toggle="modal" data-target="#addProductModal">
                        Agregar
                        <img src="../images/products/add.svg" class="add-button" alt="">
                    </button>
                    <div class="d-flex">
                        <input class="search-field" placeholder="Buscar">
                        <img src="../images/search-tool.svg" class="search-icon" alt="">
                    </div>
                </div>
            </div>
            
            <!-----------ADMIN STATUS OF SERVICES TABLE------------>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Fecha Nacimiento</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">20356754</th>
                        <td>Joshuan El Feo</td>
                        <td>Supervisor</td>
                        <td>04129876543</td>
                        <td>joshuanelfeo@gmail.com</td>
                        <td>30-09-90</td>
                        <td>
                            <div class="d-flex justify-content-end">
                                <a href="" data-toggle="modal" data-target="#editProductModal">
                                    <img class="mr-1" height="16px" src="../images/edit.svg">
                                </a>
                                <a href="" data-toggle="modal" data-target="#deleteProductModal">
                                    <img class="mr-1" height="16px" src="../images/delete.svg">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">20356754</th>
                        <td>Joshuan El Feo</td>
                        <td>Supervisor</td>
                        <td>04129876543</td>
                        <td>joshuanelfeo@gmail.com</td>
                        <td>30-09-90</td>
                        <td>
                            <div class="d-flex justify-content-end">
                                <a href="" data-toggle="modal" data-target="#editProductModal">
                                    <img class="mr-1" height="16px" src="../images/edit.svg">
                                </a>
                                <a href="" data-toggle="modal" data-target="#deleteProductModal">
                                    <img class="mr-1" height="16px" src="../images/delete.svg">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">20356754</th>
                        <td>Joshuan El Feo</td>
                        <td>Supervisor</td>
                        <td>04129876543</td>
                        <td>joshuanelfeo@gmail.com</td>
                        <td>30-09-90</td>
                        <td>
                            <div class="d-flex justify-content-end">
                                <a href="" data-toggle="modal" data-target="#editProductModal">
                                    <img class="mr-1" height="16px" src="../images/edit.svg">
                                </a>
                                <a href="" data-toggle="modal" data-target="#deleteProductModal">
                                    <img class="mr-1" height="16px" src="../images/delete.svg">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">20356754</th>
                        <td>Joshuan El Feo</td>
                        <td>Supervisor</td>
                        <td>04129876543</td>
                        <td>joshuanelfeo@gmail.com</td>
                        <td>30-09-90</td>
                        <td>
                            <div class="d-flex justify-content-end">
                                <a href="" data-toggle="modal" data-target="#editProductModal">
                                    <img class="mr-1" height="16px" src="../images/edit.svg">
                                </a>
                                <a href="" data-toggle="modal" data-target="#deleteProductModal">
                                    <img class="mr-1" height="16px" src="../images/delete.svg">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">20356754</th>
                        <td>Joshuan El Feo</td>
                        <td>Supervisor</td>
                        <td>04129876543</td>
                        <td>joshuanelfeo@gmail.com</td>
                        <td>30-09-90</td>
                        <td>
                            <div class="d-flex justify-content-end">
                                <a href="" data-toggle="modal" data-target="#editProductModal">
                                    <img class="mr-1" height="16px" src="../images/edit.svg">
                                </a>
                                <a href="" data-toggle="modal" data-target="#deleteProductModal">
                                    <img class="mr-1" height="16px" src="../images/delete.svg">
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">20356754</th>
                        <td>Joshuan El Feo</td>
                        <td>Supervisor</td>
                        <td>04129876543</td>
                        <td>joshuanelfeo@gmail.com</td>
                        <td>30-09-90</td>
                        <td>
                            <div class="d-flex justify-content-end">
                                <a href="" data-toggle="modal" data-target="#editProductModal">
                                    <img class="mr-1" height="16px" src="../images/edit.svg">
                                </a>
                                <a href="" data-toggle="modal" data-target="#deleteProductModal">
                                    <img class="mr-1" height="16px" src="../images/delete.svg">
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        
    
        <!------ADD STATUS OF SERVICES MODAL------->
        <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" >Agregar Administrador</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body d-flex flex-column">
                        <input type="file" id="openFile" style="display: none">
                        <a href="#" class="m-auto" style="width: 390px"  onclick="chooseProduct();return">
                            <img class="card-img-top" style="background-color: #8698B7" height="200" src="../images/bg-for-photo.svg" alt="Card image cap">
                        </a>
                        <div>
                            <div class="container d-flex justify-content-around flex-wrap">
                                <input type="text" class="--modal-prod-name-field --w-field" placeholder="Cedula" >
                                <input type="text" class="--modal-prod-name-field --w-field" placeholder="Nombre" >
                                <input type="text" class="--modal-prod-name-field --w-field" placeholder="Cargo" >
                                <input type="date" class="--modal-prod-name-field --w-field" placeholder="Fecha Nacimiento" >
                                <input type="text" class="--modal-prod-name-field --w-field" placeholder="Num. Telefono" >
                                <input type="email" class="--modal-prod-name-field --w-field" placeholder="Correo" >
                            </div>
                            <div class="flex-column justify-content-center m-5 p-2 border border-secondary">
                                
                                <input type="text" class="form-field --form-field-modal" placeholder="Nombre Usuario">
                                <input type="password" class="form-field --form-field-modal" placeholder="Contraseña">
                                <input type="password" class="form-field --form-field-modal" placeholder="Confirmar Contraseña">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    
        <!------EDIT PRODUCT MODAL------->
        <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" >Editar Administrador</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body d-flex flex-column">
                        <input type="file" id="openFile" style="display: none">
                        <a href="#" class="m-auto" style="width: 390px"  onclick="chooseProduct();return">
                            <img class="card-img-top" style="background-color: #8698B7" height="200" src="../images/bg-for-photo.svg" alt="Card image cap">
                        </a>
                        <div>
                            <div class="container d-flex justify-content-around flex-wrap">
                                <input type="text" class="--modal-prod-name-field --w-field" placeholder="Cedula" >
                                <input type="text" class="--modal-prod-name-field --w-field" placeholder="Nombre" >
                                <input type="text" class="--modal-prod-name-field --w-field" placeholder="Cargo" >
                                <input type="date" class="--modal-prod-name-field --w-field" placeholder="Fecha Nacimiento" >
                                <input type="text" class="--modal-prod-name-field --w-field" placeholder="Num. Telefono" >
                                <input type="email" class="--modal-prod-name-field --w-field" placeholder="Correo" >
                            </div>
                            <div class="flex-column justify-content-center m-5 p-2 border border-secondary">
                                <input type="text" class="form-field --form-field-modal" placeholder="Nombre Usuario">
                                <input type="password" class="form-field --form-field-modal" placeholder="Contraseña">
                                <input type="password" class="form-field --form-field-modal" placeholder="Confirmar Contraseña">
                            </div>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    
    
        <!-- DELETE MODAL -->
        <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">Eliminar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Esta seguro que desea eliminar este producto?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    
        <script>
            function chooseProduct() {
                console.log('bien');
                document.getElementById("openFile").click();
            }
        </script>
    
        <script src="../css/bootstrap/js/jquery-3.3.1.slim.min.js"></script>
        <script src="../css/bootstrap/js/bootstrap.js"></script>

    </body>
</html>