.mission-vision__container{
    display: flex;
    justify-content: space-between;
}

.mission-vision{
    text-align: center;
    padding: 2.5em;
    border: 1px solid #777;
    border-radius: 1em;
}

/*************VALUES************/
.values{
    width: 50%;
    padding-bottom: 150px;
}

.value{
    padding: 10px;
    margin: 1.5em;
    width: 35em;
    border: 5px solid var(--green-dark);
    background-color: var(--green-light);
}
.value__tittle{

}
.value__img{

}
.value__percentage{

}

/**********PROGRESS BAR OF VALUES***********/
.value__bar{
    width: 25rem;
    height: 20px;
    background-color: #e9ecef;
    border-radius: 0.25rem;

}
.value__progress-bar{
    width: 81%;
    height: 20px;
    background-color: #004085;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.values-img{
    width: 30%;
}
